<div>

  <p>Decepticons</p>
  <div *ngFor="let decepticon of decepticons">
    <div>
      <p>{{decepticon.name}} || {{decepticon.courage}} || {{decepticon.strength}}</p>
    </div>
  </div>

  <button (click)="newDeception()">Add new Deception</button>

  <p>AutoBot</p>
  <div *ngFor="let autobot of autoBots">
    <div>
      <p>{{autobot.name}} || {{autobot.courage}} || {{autobot.strength}}</p>
    </div>
  </div>
  <button (click)="newAutoBots()">Add new AutoBot</button>

  <button (click)="fight()"> Fight</button>

  <div>
    <p>Result</p>

    <p>Number of battles {{numberOfBattles}}</p>
    <p>Winning Team {{winnerTeam}} </p>
    <p>Survivors {{survivors}} </p>

  </div>


</div>
